apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich-server
spec:
  defaultBackend:
    service:
      name: immich-server
      port:
        number: 2283

  ## if multiiple ingress types, determine which method we are using
  ingressClassName: tailscale
  tls:
    - hosts:
      - immich